<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <div>
        {% comment %} <h1>{{ todo_list.name  }}</h1> {% endcomment %}
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due date</th>
            </tr>
          </thead>
          <tbody>
            {% for item in list.items.all %}
            <tr>
              <td>{{ item.task }}</td>
              <td>{{ item.due_date }}</td>
              <td>{% if item.is_completed %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
